# Build
buildroot/PIVERSION
buildroot/VERSION
.piversion
images/
secrets/
*.private.pem
snapdog-ctrl-binary
buildroot/board/raspberrypi/overlay/usr/bin/snapdog-ctrl

# Rust
snapdog-ctrl/target/

# WebUI
snapdog-ctrl/webui/node_modules/
snapdog-ctrl/webui/.next/
snapdog-ctrl/webui/out/
snapdog-ctrl/webui/next-env.d.ts
snapdog-ctrl/webui/tsconfig.tsbuildinfo

# OS/Editor
.DS_Store
*.swp
.vscode/
.idea/
secrets/
buildroot/board/raspberrypi/overlay/usr/bin/snapdog-ctrl
dev/Image
dev/rpi4.dtb
