[Unit]
Description=SnapDog Setup (device configuration web UI)
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/snapdog-ctrl
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
Restart=on-failure
RestartSec=5
SupplementaryGroups=netdev
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
NoNewPrivileges=yes
ProtectSystem=full
ReadWritePaths=/boot /data /etc/default /etc/hostapd /etc/hostname /etc/localtime /etc/snapdog-os.auto-update /etc/snapdog-os.channel /etc/ssh /etc/systemd /etc/wpa_supplicant /root/.ssh
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
